name: Deploy to Azure Web App

on:
    workflow_call:
      inputs:
        web-app-name:
          description: 'Name of the Azure Web App to deploy to'
          required: true
          type: string
        package-name:
          description: 'Name of the build package'
          required: true
          type: string
        package-path:
          description: 'Path to the build package (relative to the repository root)'
          required: true
          type: string
        environment:
          description: 'The environment to deploy to'
          required: true
          type: string
      
jobs:
  deploy:
    name: Deploy application
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment}}
    steps:
      - name: Download pipeline artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.package-name}}

      - name: Login to Azure
        uses: azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure WebApp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ inputs.web-app-name }}
          package: ${{ inputs.package-path }}